<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Contact List </title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.js"></script>
    <link rel="icon" type="img/png" href="https://www.shareicon.net/download/2015/08/24/90370_contacts_512x512.png" >
</head>

<body>
<section class="ui container">
    <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Contact List
    </h2>
    <div class="ui divider"></div>

    <section class="ui center aligned fluid search basic segment">
        <!--Buttons for user-->
        <button id="listAllButton" class="ui circular teal icon button">
            <i class="users icon"></i>
        </button>
        <button class="ui circular olive icon button">
            <i class="user icon"></i>
        </button>
        <button class="ui circular blue icon button">
            <i class="plus icon"></i>
        </button>
        <!--Search - doesnt work yet-->
        <div class="ui left icon input field">
            <i class="search icon"></i>
            <input class="prompt" placeholder="Search Contacts" name="search">
        </div>
        <div class="aligned results"></div>
    </section>
</section>

<section class="ui container">
    <div id="card-table" class="ui centered four doubling stackable cards">
    </div>
</section>
</body>
</html>

<script>
  $('#listAllButton').click(function () {
    $.ajax({
      url: 'http://localhost:8000/users',
      dataType: 'json',
      type: 'GET',
      success: function (json) {
        cardListAllUsers(json);
      },
    });
  });

  function cardListAllUsers(contactList) {
    for (let contact of contactList) {
      $('#card-table').append(
        '<div class="ui link card">' +
            '<a class="content" href="/users/' + contact._id + '">' +
                '<div class="center aligned content">' +
                    '<img class="ui middle aligned circular small image" src="' + contact.picture.large + '">' +
                '</div>' +
                '<div class="center aligned header">' +
                     contact.name.first + ' ' + contact.name.last +
                '</div>' +
            '</a>' +
        '<div'
      );
    }
  }
  let content = [
  { title: 'Does not work yet :('},
  ];

  $('.ui.search')
    .search({
      source: content
    })
  ;
</script>
