<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Contact List </title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.js"></script>
    <link rel="icon" type="img/png" href="https://www.shareicon.net/download/2015/08/24/90370_contacts_512x512.png" >
</head>

<body>
<section class="ui container">
    <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        Contact List
    </h2>
    <div class="ui divider"></div>

    <section class="ui center aligned fluid search basic segment">
        <!--Buttons for user-->
        <button id="listAllButton" class="ui circular teal icon button">
            <i class="users icon"></i>
        </button>
        <button class="ui circular olive icon button">
            <i class="user icon"></i>
        </button>
        <!--Add user button-->
        <button class="ui circular blue icon button" id="showAddUserModal">
            <i class="plus icon"></i>
        </button>
        <!--Search - doesnt work yet-->
        <div class="ui left icon input field">
            <i class="search icon"></i>
            <input class="prompt" placeholder="Search Contacts" name="search">
        </div>
        <div class="aligned results"></div>
    </section>
</section>

<section class="ui container">
    <div id="card-table" class="ui centered five doubling stackable cards">
    </div>
</section>

<%- include partials/addUserForm.ejs %>

</body>
</html>

<script>
  // Function to get Json list of all users and call cardListAllUsers to list as card table
  function getAllUsers() {
    $.ajax({
      url: 'users',
      dataType: 'json',
      type: 'GET',
      success: function (json) {
        cardListAllUsers(json);
      },
    });
  }

  // Function append the list of users in card style to DOM
  function cardListAllUsers(contactList) {
    for (let contact of contactList) {
      $('#card-table').append(
        '<div class="ui link card">' +
        '<a class="content" href="/users/' + contact._id + '">' +
        '<div class="center aligned content">' +
        '<img class="ui middle aligned circular small image" src="' + contact.picture.large + '">' +
        '</div>' +
        '<div class="center aligned header">' +
        contact.name.first + ' ' + contact.name.last +
        '</div>' +
        '</a>' +
        '<div' +
        '<section class="center aligned content">' +
            '<button class="ui circular blue icon button">' +
                '<i class="edit icon"></i>' +
            '</button>' +
            '<button onclick="deleteUser(' + contact._id + ')" class="ui circular red icon button">' +
                '<i class="delete icon"></i>' +
            '</button>' +
        '</section>'
      );
    }
  }

  // Button to list all users
  $('#listAllButton').click(getAllUsers);

  $('#addUserButton').click(function (event) {
    event.preventDefault();
    console.log('select_link clicked');
    let user = {
      gender: 'default',
      name: {
        title: 'default',
        first: 'default',
        last: 'default'
      },
      location: {
        street: 'default',
        city: 'default',
        state: 'default',
        zip: 0
      },
      email: 'default',
      username: 'default',
      password: 'default',
      salt: 'default',
      md5: 'default',
      sha1: 'default',
      sha256: 'default',
      registered: 0,
      dob: 0,
      phone: 'default',
      cell: 'default',
      PPS: 'default',
      picture: {
        large: 'http://res.cloudinary.com/dv6skh7wa/image/upload/c_scale,w_128/v1500152762/Node%20Gym/login.png',
        medium: 'http://res.cloudinary.com/dv6skh7wa/image/upload/c_scale,w_72/v1500152762/Node%20Gym/login.png',
        thumbnail: 'http://res.cloudinary.com/dv6skh7wa/image/upload/c_scale,w_48/v1500152762/Node%20Gym/login.png'
      }
    };
    user.name.first= $('#first').val();
    $.ajax({
      url: 'users',
      data: JSON.stringify(user),
      contentType: 'application/json',
      type: 'POST',
      success: function (user) {
        console.log('success');
        console.log(JSON.stringify(user));
        $('#addUserModal')
          .modal('hide');
        getAllUsers();
      },
    });
  });

  function deleteUser(id) {
    $.ajax({
      type: "DELETE",
      url: "users/" + id,
      success: function (result) {
        console.log(result);
      }
    });
  }

  let content = [
  { title: 'Does not work yet :('},
  ];

  $('.ui.search')
    .search({
      source: content
    })
  ;

  $('#showAddUserModal').click(function () {
    $('#addUserModal')
      .modal('show');
  });

  $('.ui.dropdown').dropdown();
  $('.ui.accordion').accordion();
</script>
